<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackupItems</key>
	<array>
		<string>UUDb</string>
		<string>Config/UUConfig.xml</string>
		<string>userdata</string>
	</array>
	<key>BackupShowInterface</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>BackupAndRestore</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.BackupAndRestore</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BackupAndRestore</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>RestoreItems</key>
	<array>
		<string>UUDb</string>
		<string>Config/UUConfig.xml</string>
		<string>userdata</string>
	</array>
	<key>RestoreShowInterface</key>
	<true/>
</dict>
</plist>
