<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CallHostMacUIKey</key>
	<string>Join Air</string>
	<key>DeviceType</key>
	<string>1</string>
	<key>ProductIdeniferForCompositeDevice</key>
	<string>1</string>
	<key>ProductIdentiferForCDOnlyDevice</key>
	<array>
		<string>38</string>
		<string>83</string>
		<string>152</string>
		<string>153</string>
		<string>256</string>
		<string>257</string>
		<string>259</string>
		<string>261</string>
		<string>272</string>
		<string>296</string>
		<string>320</string>
		<string>329</string>
		<string>336</string>
		<string>340</string>
		<string>352</string>
		<string>4103</string>
		<string>4105</string>
		<string>4644</string>
		<string>4645</string>
		<string>4646</string>
		<string>5155</string>
		<string>5161</string>
		<string>8192</string>
		<string>8196</string>
		<string>277</string>
		<string>326</string>
		<string>4097</string>
		<string>4115</string>
		<string>4465</string>
		<string>4469</string>
		<string>4473</string>
		<string>4609</string>
		<string>4612</string>
		<string>4615</string>
		<string>4624</string>
		<string>4627</string>
		<string>4630</string>
		<string>4633</string>
		<string>4658</string>
		<string>5393</string>
		<string>5396</string>
		<string>5399</string>
		<string>5408</string>
		<string>5411</string>
		<string>5416</string>
		<string>5417</string>
		<string>5424</string>
		<string>5427</string>
		<string>5430</string>
		<string>4647</string>
		<string>4648</string>
		<string>4649</string>
		<string>4656</string>
		<string>4657</string>
		<string>4658</string>
		<string>4659</string>
		<string>4660</string>
		<string>4661</string>
		<string>4662</string>
		<string>4663</string>
		<string>4664</string>
		<string>4665</string>
		<string>4672</string>
		<string>4673</string>
		<string>4674</string>
		<string>4675</string>
	</array>
	<key>VendorIdentiferForCDOnlyDevice</key>
	<string>6610</string>
	<key>VendorIdentiferForCompositeDevice</key>
	<string>6610</string>
</dict>
</plist>
