<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UseCommonEject</key>
	<true/>
	<key>UUShellName</key>
	<string>UUShell.app</string>
	<key>StartAppWithUUShell</key>
	<false/>
	<key>UpdateToolPath</key>
	<string>/Library/Application Support/DataCardUpdater/UpdateTool.app</string>
	<key>CheckECM</key>
	<false/>
	<key>UseSerialNumber</key>
	<true/>
	<key>LaunchAppWithFullPath</key>
	<true/>
	<key>requestParas</key>
	<array>
		<integer>1</integer>
	</array>
	<key>runControl</key>
	<dict>
		<key>ProductID</key>
		<array>
			<integer>118</integer>
		</array>
		<key>toMatching</key>
		<false/>
	</dict>
</dict>
</plist>
